.page {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .page {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .main {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}
