.mobile-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: white;
}

.sidebar-action {
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-header-balancer {
    width: 3rem;
    height: 3rem;
}

.sidebar {
    display: none;
}

.sidebar.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 18.75rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;
    z-index: 2;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: column;
}

.navbar-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: inherit;
    text-decoration: none;
}

.navbar-link.active {
    background-color: #00B700;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.navbar-link.active:hover {
    background-color: #0ADE09;
}

.navbar-link.active:active {
    background-color: #049105;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #D8FFD7;
    border-radius: 1rem;
}

.logout-button {
    width: 3rem;
    height: 3rem;
    color: #FF0900;
}

.sidebar-backdrop {
    display: none;
}

.sidebar-backdrop.show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }

    .sidebar {
        position: static;
        top: unset;
        left: unset;
        width: 25rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;
        background-color: white;
        z-index: unset;
    }

    .sidebar-action {
        display: none;
    }
}
