.main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cart-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.menus-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menu-item-image {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 1rem;
}

.menu-item-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu-item-quantity {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.menu-item-quantity-button {
    padding: 0.25rem;
}

.menu-item-quantity-text {
    font-size: 0.875rem;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #D8FFD7;
}

.cart-empty-text {
    color: #0A5D0C;
    text-align: center;
}

.payment-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.form-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text-field {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0 0 0.0625rem #8F99A1 inset;
    padding: 0.75rem 1rem;
    font-family: 'Outfit', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.text-field:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0625rem #00B700 inset;
}

.text-field::placeholder {
    color: #8F99A1;
}

@media (min-width: 768px) {
    .cart-title {
        font-size: 2.5rem;
    }

    .menus-list {
        max-width: 33.75rem;
    }

    .cart-empty {
        padding: 4rem;
    }

    .payment-form {
        max-width: 33.75rem;
    }
}
