.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 2rem;
    background-color: white;
}

.mobile-navbar-toggle {
    width: 3rem;
    height: 3rem;
}

.mobile-navbar-toggle-balancer {
    width: 3rem;
    height: 3rem;
}

.mobile-navbar {
    display: none;
}

.mobile-navbar.show {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 2rem 2rem;
    background-color: white;
}

.desktop-navbar {
    display: none;
}

.navbar-link {
    font-size: 0.875rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header {
        padding: 4rem;
    }

    .mobile-navbar-toggle {
        display: none;
    }

    .mobile-navbar-toggle-balancer {
        display: none;
    }

    .mobile-navbar.show {
        display: none;
    }

    .desktop-navbar {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}
