.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: #D8FFD7;
    border-radius: 2rem;
}

.hero-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #0A5D0C;
}

.hero-text {
    text-align: center;
    color: #0A5D0C;
}

.advantages {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.advantages-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.advantage-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.advantage-item-title {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.advantage-item-text {
    text-align: center;
}

.menus {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.menus-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.menus-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.menu-item-image {
    width: 100%;
    max-width: 20rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 2rem;
}

.menu-item-title {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.menu-item-text {
    text-align: center;
}

.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.reviews-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.reviews-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.review-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.review-item-image {
    object-fit: cover;
    border-radius: 9999px;
}

.review-item-title {
    text-align: center;
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.review-item-text {
    text-align: center;
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contact-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.contact-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    .main {
        gap: 4rem;
    }

    .hero {
        padding: 4rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .advantages {
        max-width: 67.5rem;
        gap: 2rem;
    }

    .advantages-title {
        font-size: 2.5rem;
    }

    .advantages-list {
        flex-direction: row;
        gap: 4rem;
    }

    .menus {
        max-width: 67.5rem;
        gap: 2rem;
    }

    .menus-title {
        font-size: 2.5rem;
    }

    .menus-list {
        flex-direction: row;
        gap: 4rem;
    }

    .reviews {
        max-width: 67.5rem;
        gap: 2rem;
    }

    .reviews-title {
        font-size: 2.5rem;
    }

    .reviews-list {
        flex-direction: row;
        gap: 4rem;
    }

    .contact {
        max-width: 67.5rem;
        gap: 2rem;
    }

    .contact-title {
        font-size: 2.5rem;
    }

    .contact-buttons {
        flex-direction: row;
    }
}
