.menu-category-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-image {
    object-fit: cover;
}
