.button-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 9999px;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
}

.button-primary {
    background-color: #00B700;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
    background-color: #0ADE09;
}

.button-primary:active {
    background-color: #049105;
}

.button-outlined {
    box-shadow: 0 0 0 0.0625rem #00B700 inset;
    color: #00B700;
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-outlined:hover {
    box-shadow: 0 0 0 0.0625rem #0ADE09 inset;
    color: #0ADE09;
}

.button-outlined:active {
    box-shadow: 0 0 0 0.0625rem #049105 inset;
    color: #049105;
}

.link {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
