.button-base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 9999px;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 400;
    text-decoration: none;
}

.button-primary {
    background-color: #00B700;
    color: white;
}

.link {
    font-size: 1rem;
    font-weight: 400;
    color: black;
    text-decoration: none;
}
